<div class="tab-pane fade border" id="v-pills-exp" role="tabpanel" aria-labelledby="v-pills-exp-tab">
    <div class="container-fluid">
        <div class="card-group">
            <div class="card">
                <h5 class="card-header">
                    Informacion
                </h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            Selecciona un personaje y dale 1 incremento de experiencia, recuerda que son maximo 5, y que a partir de entonces, con cada incremento que recibe el JUGADOR puede redistribuir un punto de habilidad, o cambiar una capacidad especial, o cambiar un punto
                            de habilidad por capacidad especial y al reves. (Ya tenemos que se aplica un px cada vez que se pulsa el boton. revisar si se guarda y si navega entre cliente-jugador. )
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">
                    Personajes
                </h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="text-capitalize">
                                <div class="form-check" name="selPjChecks" id="selPjChecksExp"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center">
            <button id="btnSolicitarCheck" type="button" class="p-1 btn btn-success btn-lg" onclick="solicitudDarExperiencia()">Dar Experiencia</button>
        </div>
    </div>
</div>