<div class="row">
    <div class="card w-100">
        <div id="visor">
            <div class="card-header bg-primary text-light">Visor Rapido</div>
            <div class="card-body text-left">

                <div class="row"><b>Nombre:</b> <span id="nombreLabelPnjVisor"></span></div>
                <div class="row"><b>Notas:</b> <span id="notasPnjLabelVisor"></span></div>
                <div class="row"><span class="text-capitalize"><b>salud: </b><span id="saludPnjVisor"></span></span>
                </div>
                <div class="row"><b>Máculas:</b> <span id="manchadoFlagPnjVisor"></span></div>
                <div class="row">
                    <div class="col text-left text-capitalize">
                        <div class="row"><b>Consecuencias:</b></div>
                        <div class="row" id="pnjConsecuenciasListVisor"></div>
                    </div>
                </div>
                <div class="row">

                    <table class="table">
                        <tbody>
                            <tr>
                                <td><span id="picasVisor"></span></td>

                                <td><span id="corazonesVisor"></span></td>

                                <td><span id="trebolesVisor"></span></td>

                                <td><span id="diamantesVisor"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col text-left text-capitalize">
                        <div class="row"><b>capacidades especiales:</b></div>
                        <div class="row" id="pnjCEListVisor"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left text-capitalize">
                        <div class="row"><b>equipo:</b></div>
                        <div class="row" id="pnjEquipoListVisor"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>