<div class="border">
    <div class="w-25 float text-left">foto</div>
    <div><img class="w-25 img-fluid rounded float text-right" src="../imagenes/rolinapp/logoWWWhorizontal.png" /></div>
    foto, descripcion del modulo, logo,
    <div>datos tecnicos.</div>
    <div>boton importar/empezar</div>
</div>