<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>Rol in App / Lore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles_canvasFW.css">
</head>

<body>
    <!-- cabecero -->
    <%- include ("../cabecero.ejs") %>
        <div class="container text-center text-ligth bg-dark">
            <div class="card">
                <div class="card-header"><img class="w-75" src="../imagenes/rolinapp/logoWWWhorizontal.png" /></div>
                <div class="card-body bg-white">
                    Estamos en un ficticio fin del siglo XIX en un ficticio Oeste de America. Hace unos años que los hombres blancos vienen de lejos a hacer fortuna, de unos modos mas o menos licitos. Basandose en tejemajes, engaños y la falta de ley o intencion de ser minimamente
                    justos con los nativos residentes, los colonos se van expandiendo de este a oeste. Armados y armas y contratos que solo les benefician a una parte, huyen de la vieja europa buscando una vida mejor, u oro, o lo que puedan obtener. Su
                    periplo va chocando con los nativos, muchas veces violentamente. Unas veces mueren unos, otras veces los otros, pero poco a poco los invasores van colonizando las tierras, avanzando por el deesierto y acabando con las tribus. Siempre
                    vienen mas colonos, y cada vez mejor armados y con peores intenciones. Esta situacion lleva a los supervivientes de unas de las tribus expulsadas de sus tierras natales a llevar a cabo unos rituales prohibidos, oscuros y desesperados.
                    El viejo shaman que lo realiza sabes que puede ser el fin para las tierras en las que se expanda la oscuridad que pretende invocar. Su intencion es rasgar el velo entre el mundo material y el de los espiritus. Dejará entrar a todo
                    lo que hay alli para que frenen y quizas con algo de suerte, acaben con el hombre blanco. Suplicará a los ancestros que le ayuden, que den justicia y si no, venganza. Que se lleven las almas de los rostros palidos. Y si es necesario,
                    que se queden las tierras en las que una vez vivieron. La herida abierta en la realidad creo una oleada de oscuridad, no vida y odio hacia todo lo vivo, no solo los hombres blancos. Y los espirtus venidos necesitaban un 'hogar' en
                    este mundo, carne que habitar. Todo lo que entró estaba lleno de maldad, resentimiento y odio tras años de vagar y sufrir en el mas alla, sin lugar al que dirigirse, atrapados en ese infierno del que ahora podian escapar. Solo fueron
                    unos segundos lo necesario por parte del viejo shaman para darse cuenta de su gran error y de que eso que entraba no atendia a sus suplicas contra el hombre blanco, y los nativos tambien estaban en peligro, asi que dio su vida cerrando
                    la grieta. La miasma ponzoñosa se esparcia como humo en el viento, siendo mas densa y oscura donde se acumulaba y mas fina y casi invisible al esparcirse. Esa oscuridad era un ente en si, sin razocinio comprensible para el hombre,
                    pero con conocimiento de si mismo, de sus limitaciones y necesidades, y sobre todo, de como alimentarse de las almas de aquellos que encontraban. Los que poseian una gran maldad y oscuridad interior atraian y arremoliban esa oscuridad,
                    que los premiaba y potentiaba haciendo de ellos una baliza, un ancla, un punto sobre el que afianzarse y hacerse mas fuerte. Sin saber porque, se expandio de norte a sur, con mas concentracion y poder en su inicio, consumiendo la vida
                    y habitando la carne encontrada, retornciendola y mutandola a su imagen y semejanza. Se creo una zona de muerte y oscuridad como una herida de norte a sur, que ondulaba expandiendo y contrayendo sus zarcillos en busca de mas almas,
                    de oeste a este. Pronto llegaron noticias a las ciudades mas al este de muertos que andan y seres retorcidos que diezmaban las poblaciones mas al oeste. De aberraciones inmensas y espectros
                </div>
                <div>(brainstorming) la miasma, ponzoña, viento envenado o sombra espectral es como un humo que va desde una densidad casi inapreciable salvo filtrada a luz solar, que aparenta una neblina oscura. los espectros, poderes oscuros o entidades
                    que se han escapado y filtrado en nuestra realidad no pueden existir fuera de esta niebla. se mueve como humo o vapor de agua, sin llegar a diluirse o disiparse del todo, tiene un maximo de dispersion tras lo cual tiende a reunirse.
                    actua en simil a capas, como si fuesen 5 capas, cada una tiene la mitad de niebla que la anterior. se estanca o ancla a lugares o seres muy malvados, al acumularse llega un momento que 'salta de capa', permitiendo acumular mas en la
                    capa anterior y expandirse mas. se expande como si fuese un cuerpo viscoso al que se le somete a presion en diferentes puntos, recomponiendose cuando esta se aligera. cada 'punto de niebla' se expande un kilometro de radio. si se solapan
                    dos capas, todo aquello con una maldad inferior pasa a ser susceptible de ser aniquilado si carece de maldad, aprovechando su carne para ser empleada como vehiculo de los entes que habitan en niebla, siendo el poder o nivel de estos
                    seres mayor segun la capa que habitan, y mayor tambien la cantidad de carne o cadaver a ocupar. teniendo en cuenta que cada posesion muestra rasgos de el ser que la habita, y ademas pueden emplear carne de varios cadaveres para sumar
                    su total de nivel (esto puede ir sucediendo paulatinamente) un ser de nivel 1 puede sumar con otro otro nivel para llenar el espacio dejado por una nueva capa alcanzada. en un nivel 1 solo pueden ocupar animales maximo tamaño medio.
                    nivel 2 ya pueden ser cadaveres humanos o grandes animales. nivel 3 se trata de aberraciones union de dos cadaveres o cadaver y animal grande. nivel 4 son seres monstruosos, o mentes colmena donde un huesped tiene varias extensiones
                    propias. nivel 5... nadie que ha estado en una zona de nivel 5 a sobrevivido.

                    <p>Aquellos con maldad igual o superior obtienen poder subsconcientemente de la niebla, en una simbiosis. a su vez, sirven de ancla para que la niebla se acumule a su alrededor. los que son afectados y emplean ese poder pasan a estar
                        marcados, corrompiendose. estas marcas se pueden apreciar tanto fisicamente como mentalmente, siendo mas evidentes cuanto mas nivel tienen. los marcados, al estar infectados por la miasma, no pueden salir de la niebla. algun tipo
                        de exorcismo o poder shamanico puede expulsar la miasma de un afectado.</p>
                    <p>Los malvados con un nivel de maldad inferior al que tiene el area seran atacados por la niebla para parasitacion. Los parasitados dejan de tener voluntad propia, pasando a estar 'en el asiento de atras'. permite tener agentes de nivel
                        alto en zonas de nivel bajo, ya que la limitaicon de abandonar las zonas por nivel afecta a el nivel de parasito o espectro de la bruma.</p>
                    <p>Expansion y acumulacion.</p>
                    <p>cada punto de miasma ocupa unos 100 kilometros de radio. aunque puede expandirse y contraerse con aspecto disforme de nivel 1 al valor de cambio de capa.</p>
                    <p>en las areas solo puede haber una entidad de nivel máximo igual a puntuacion del area, pero varias de niveles inferiores activas a la vez.</p>
                    <p>por cada nivel pueden obtener un don, y este a su vez tiene una manifestacion fisica o mental.</p>
                    <p>por ultimo, la podredumbre y la debastacion se eternizan en una zona cubierta de miasma. La carne muerta frena su ritmo de putrefaccion, las cosas detienen su deterioro, dando un aspecto gris, sucio, roto y moribundo a aquello que
                        cubre.
                    </p>
                    <p>Los Jugadores pueden llegar a una poblacion o zona en uno de los tres estadios o momentos posibles:
                        <li><b>Previo a infeccion de miasma.</b> El lugar es uno como cualquier otro del oeste, cuanto mas alejado del este mas salvaje y falto de ley y orden, menos poblado y con menos recursos, tal y como cabria esperar. Aunque pueden tener
                            supervivientes de zonas tocadas por la oscuridad, noticias e historias que ponen los pelos de punta e increibles para la mayoria de aquellos que recien llegan del este.</li>
                        <li><b>Durante la cobertura de miasma.</b> En este estadio la oscuridad cubre la poblacion, y permea todo lo que toca. Depende del tiempo de que está sucediendo esto los sucesos seran mas o menos frecuentes y aceptados, al igual que
                            la intensidad tambien influye. En estas zonas, los efectos, oscuridad y maldad suelen aferrarse al ser mas oscuro y vil, los muertos vuelven a andar acabando con lo vivo, los gritos y el silencio se turnan en la noche.</li>
                        <li><b>Tras la marcha de la miasma.</b> En ocasiones, la poblacion o la zona se libra de la miasma, bien por la muerte y expulsion del ser mas malevolo que hacia en ancla, quemando su carne o realizando algun rito de expulsion que
                            permite que la miasma ya no se quede anclada y fluya o se retraiga buscando un nuevo ser al que atarse y corromper. Estas zonas vuelven a ver el sol sin una capa de sucio polvo en el aire, y todo vuelve a la normalidad. Los
                            supervivientes pocas veces se quedan y pocos quedan cuerdos.</li>
                    </p>

                </div>
                <div>

                </div>
            </div>
            <p></p>


            <%- include ("../piePagina.ejs") %>
        </div>


</body>


</html>