<!DOCTYPE html>
<html>

<head>
    <script>
        function redirigir() {
            if (screen.width < screen.height) {
                location.href = "/jcc-mobile";
            } else {
                location.href = "/jcc-pc";
            }
        }
    </script>
</head>

<body>



</body>
<script>
    window.onload = redirigir;
</script>